
<% if @order_items.any? %>
  <% @order_items.order("id asc").each do |item| %>
    <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p> Unit Price: <%= number_to_currency item.product.price %>
      <!-- <%= link_to "Edit", edit_order_item_path(item) %> -->
      <%= render "layouts/errors", :object => @order_items %>

      <%= form_for item do |f| %>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
        <%= f.submit %>
      <% end %>


       | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
  <% end %>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>

<%= link_to "Return to Product List", products_path %>
